.horizontal-view-desktop-size {
    width: 100%;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.headline-area {
    max-width: 560px;
    width: calc(100% - 32px);
}

.summary-body {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-top: 16px;
    max-width: 560px;
    width: calc(100% - 32px);
    gap: 16px;
}

.summary-todo {
    transition: 0.05s;
    width: 100%;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 4px 0px #0000001A;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        height: 40px;
        width: 40px;
        margin-right: 18px;
    }
}

.summary-todo-done {
    transition: 0.05s;
    width: 100%;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 4px 0px #0000001A;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        height: 40px;
        width: 40px;
        margin-right: 18px;
    }
}

.summary-todo-spacer {
    display: flex;
    justify-content: flex-end;
    width: 48%;
}

.summary-todo-spacer-start {
    display: flex;
    justify-content: flex-start;
    width: 48%;
    
}

.summary-part-area {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 16px;
    border-radius: 30px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    color: black;
}

.tasks-first-row {
    display: flex;
    justify-content: space-between;
    height: 110px;
    gap: 16px;
}

.tasks-second-row{
    height: 110px;
}

.tasks-second-rowr{
    display: flex;
    justify-content: flex-end;
}

.board{
    transition: 0.1s;
    background-color: white;
    box-shadow: 0px 0px 4px 0px #0000001A;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.progress{
    transition: 0.1s;
    background-color: white;
    box-shadow: 0px 0px 4px 0px #0000001A;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
}

.feedback{
    transition: 0.1s;
    background-color: white;
    box-shadow: 0px 0px 4px 0px #0000001A;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.board:hover{
    height: 184px;
    width: 184px;
    transition: 0.1s;
    background-color: #2A3647;
    color: white;
    margin-right: -16px;
    margin-top: -16px;

    span {
        color: white;
    }
}

.progress:hover{
    height: 184px;
    transition: 0.1s;
    margin-top: -16px;
    background-color: #2A3647;
    color: white;
    span {
        color: white;
    }
}

.summary-third{
    width: 33%;
}

.feedback:hover{
    height: 184px;
    width: 184px;
    transition: 0.1s;
    background-color: #2A3647;
    color: white;
    margin-left: -8px;
    margin-top: -16px;

    span {
        color: white;
    }
}

.count-and-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.urgent-area {
    transition: 0.1s;
    background-color: white;
    box-shadow: 0px 0px 4px 0px #0000001A;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.urgent-area:hover {
    margin-bottom: -16px;
    height: 184px;
    transition: 0.1s;
    background-color: #2A3647;
    color: white;

    h3 {
        color: white;
    }

    span {
        color: white;
    }
}

.urgent-area-left-side {
    display: flex;
    align-items: center;
    gap: 16px;
}

.urgent-area-left-side img {
    width: 40px;
    height: 40px;
}

.urgent-area-placeholder {
    width: 2px;
    height: 68px;
    background-color: #d1d1d1;
}

.urgent-area-right-side {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#summaryUrgentDeadlineDate {
    font-size: 16px;
}

.tasks-third-row {
    display: flex; 
    gap: 16px;
    height: 110px;
}

#navDesktop {
    display: none;
}

#headerDesktop {
    display: none;
}

.summary-todo-done:hover {
    margin-bottom: -2px;
    width: 282px;
    height: 184px;
    transition: 0.05s;
    background-color: #2A3647;
    color: white;
    z-index: 2;

    .summary-img-hover {
        display: block;
        height: 60px;
        width: 60px;
    }

    .summary-img {
        display: none;
    }
}

.summary-todo:hover {
    margin-bottom: -2px;
    width: 282px;
    height: 184px;
    transition: 0.05s;
    background-color: #2A3647;
    color: white;

    .summary-img-hover {
        display: block;
        height: 60px;
        width: 60px;
    }

    .summary-img {
        display: none;
    }
}

.summary-urgent-flex:hover {
    margin-bottom: -16px;
    height: 184px;
    transition: 0.1s;
    background-color: #2A3647;
    color: white;

    h3 {
        color: white;
    }

    span {
        color: white;
    }
}

.summary-urgent {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 65px;

    img {
        height: 60px;
        width: 60px;
        margin-right: 18px;
    }
}

.summary-img-hover {
    display: none;
}


/* //////////////////////////////////// RESPONSIVE //////////////////////////////////////////////// */

@media(min-width: 450px) {
    .urgent-area {
        gap: 48px;
    }
}

@media(max-width: 350px) {
    .urgent-area {
        gap: 16px;
    }
}

@media(min-width: 992px) {
    .headline-area {
        display: flex;
        gap: 32px;
    }

    .placeholder-blue {
        height: 59px;
        width: 3px;
    }

    .h3-and-placeholder {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 32px;
    }

    h3 {
        margin-block-start: 0;
        margin-block-end: 0;
    }

    .horizontal-view-desktop-size {
        display: flex;
        margin-left: 232px;
    }

    .summary-body {
        font-size: 16px;
        gap: 32px;
    }

    .tasks-second-row {
        height: 168px;
    }

    .tasks-first-row {
        height: 168px;
    }

    .tasks-third-row {
        height: 168px;
    }

    .summary-part-area {
        height: 168px;
    }

    .headline-area {
        max-width: 1440px;
    }

    .center-content {
        align-items: flex-start;
        margin: 0 16px;
    }

    .horizontal-view-desktop-size {
        align-items: center;
        justify-content: center;
        width: calc(100% - 232px);
    }

    .urgent-area {
        gap: 74px;
    }

    #summaryUrgentDeadlineDate {
        font-size: 21px;
    }

    #navMobile {
        display: none;
    }

    #headerMobile {
        display: none;
    }

    #navDesktop {
        display: flex;
    }

    #headerDesktop {
        display: flex;
    }

}

@media(min-width: 1250px) {
    .headline-area h1 {
        width: 300px;
    }

    .headline-area h3 {
        width: 320px;
    }
}