
.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 160px);
}

.headline-area {
    max-width: 560px;
    width: calc(100% - 32px);
}

.summary-body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 14px;
    margin-top: 32px;
    max-width: 560px;
    width: calc(100% - 32px);
}

.summary-part-area {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 110px;
    gap: 16px;
    border-radius: 20px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.tasks-first-row {
    display: flex;
    gap: 16px;
}

.count-and-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.urgent-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.urgent-area-left-side {
    display: flex;
    align-items: center;
    gap: 16px;
}

.urgent-area-left-side img {
    width: 40px;
    height: 40px;
}

.urgent-area-placeholder {
    width: 2px;
    height: 68px;
    background-color: #d1d1d1;
}

.urgent-area-right-side {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#summaryUrgentDeadlineDate {
    font-size: 16px;
}

.tasks-third-row {
    display: flex;
    gap: 16px;
    flex: 1;
}

/* //////////////////////////////////// RESPONSIVE //////////////////////////////////////////////// */

@media(min-width: 450px) {
    .urgent-area {
        gap: 48px;
    }
}

@media(max-width: 350px) {
    .urgent-area {
        gap: 16px;
    }
}

@media(min-width: 992px) {
    .headline-area {
        display: flex;
        gap: 32px;
    }

    .placeholder-blue {
        height: 59px;
        width: 3px;
    }

    .h3-and-placeholder {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 32px;
    }

    h3 {
        margin-block-start: 0;
        margin-block-end: 0;
    }

    .horizontal-view-desktop-size {
        display: flex;
    }

    .summary-part-area {
        height: 168px;
    }

    .headline-area {
        max-width: 1440px;
    }

    .center-content {
        align-items: flex-start;
    }

    .horizontal-view-desktop-size {
        align-items: center;
        justify-content: center;
    }

    .urgent-area {
        gap: 74px;
    }

}