<nav class="nav-bar">
  <a href="../summary/summary.html" class="menu-button">
    <img src="../assets/img/navIcons/summary.png" />
    <span class="letter layout">Summary</span>
  </a>
  <a href="../board/boardMobile.html" class="menu-button">
    <img src="../assets/img/navIcons/Board.png" />
    <span class="letter layout">Board</span>
  </a>
  <div class="menu-aktiv">
    <img src="../assets/img/navIcons/addTask-aktiv.png" />
    <span class="letter-aktiv layout">Add Task</span>
  </div>
  <a href="../contact/view_desktop_contact.html" class="menu-button">
    <img src="../assets/img/navIcons/contacts.png" />
    <span class="letter layout">Contacts</span>
  </a>
</nav>
