<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOOTER</title>
    <link rel="stylesheet" href="../nav.css">
</head>
<body>
    <nav class="nav-bar">
        <div class="menu-button">
            <img src="../../img/navIcons/summary-aktiv.png">
            <span class="letter layout">Summary</span>
        </div>
        <div class="menu-button">
            <img src="../../img/navIcons/Board.png">
            <span class="letter layout">Board</span>
        </div>
        <div class="menu-button">
            <img src="../../img/navIcons/addTask.png">
            <span class="letter layout">AddTask</span>
        </div>
        <div class="menu-aktiv">
            <img src="../../img/navIcons/contacts.png">
            <span class="letter-aktiv layout">Contacts</span>
        </div>   
    </nav>
</body>
</html>