body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#emailInputLogin {
    background-image: url(./assets/img/icons/mail.png);
    background-repeat: no-repeat;
    background-position: center right 21px;
}

#passwordInputLogin {
    background-image: url(./assets/img/icons/lock.png);
    background-repeat: no-repeat;
    background-position: center right 21px;
}

.header img {
    padding-top: 37px;
    padding-left: 38px;
    width: 64px;
}

.log-in-body {
    background-color: white;
    margin: 0 16px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px 0;
    box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);
}

.inputs-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.inputs-login input {
    max-width: 322px;
    width: calc(90% - 42px);
    height: 24px;
    padding: 12px 21px;
    font-size: 20px;
    color: #D1D1D1;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.checkbox-remember {
    display: flex;
    gap: 8px;
    padding-left: 28px;
}

.btns-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.sign-up span {
    font-size: 20px;
}

.legal-footer {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.legal-footer a {
    color: #A8A8A8;
}