@font-face {
    font-family: "Inter";
    src: url(./assets/font-inter/Inter-VariableFont_slnt\,wght.ttf);
  }

body {
    margin: 0;
    font-family: "Inter";
    background-color: #F5F5F5;
}

input{
  font-family: "Inter";
  font-size: 16px;
  padding-left: 16px;
  position: relative;
}

textarea{
  font-family: "Inter";
  font-size: 16px;
  padding-left: 16px;
  padding-top: 16px;
  position: relative; 
}

textarea::placeholder{
  position: absolute; 
  top: 0px; 
  left: 0px; 
}

select{
  font-family: "Inter";
  font-size: 16px;
}

a {
  text-decoration: none;
}

.text-deco-underline {
  text-decoration: underline;
}

.margin-body-mobile {
  margin: 80px 16px;
  padding: 16px 0;
}

.placeholder-blue {
  height: 3px;
  width: 88px;
  background-color: #29ABE2;
  border-radius: 32px;
}

.fw-bold {
  font-weight: 700;
}

.color-blue {
  color: #29ABE2;
}

.d-none {
  display: none !important;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  margin-block-start: 0;
  margin-block-end: 0;
}

h2 {
  font-size: 27px;
  font-weight: 700;
  margin-block-start: 0;
  margin-block-end: 0;
}

h3 {
  font-size: 20px;
  font-weight: 400;
  margin-block-start: 10px;
  color: #2A3647;
}

.headline-and-placeholder {
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-dark-large {
  color: white;
  background-color: #2A3647;
  border-radius: 8px;
  border: none;
  width: 180px;
  height: 40px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 225ms;
}

.btn-dark-large:hover {
  background-color: #29ABE2;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.btn-dark-small {
  color: white;
  background-color: #2A3647;
  border-radius: 8px;
  border: none;
  width: 104px;
  height: 40px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 225ms;
}

.btn-dark-small:hover {
  background-color: #29ABE2;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.btn-light-large {
  color: #2A3647;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #2A3647;
  width: 178px;
  height: 38px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 225ms;
}

.btn-light-large:hover {
  border: 1px solid #29ABE2;
  color: #29ABE2;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.btn-light-small {
  color: #2A3647;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #2A3647;
  width: 104px;
  height: 38px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 225ms;
}

.btn-light-small:hover {
  border: 1px solid #29ABE2;
  color: #29ABE2;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;;
}

.legal-footer a:hover {
  color: #29ABE2;
}

/* ////////////////////////////////////////// RESPONSIVE /////////////////////////////////////////////////////// */

@media(min-width: 992px) {
  h1 {
    font-size: 61px !important;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 27px;
  }
}