body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  height: 10vh;
  display: flex;
  align-items: center;
}

.header img {
  padding-top: 4%;
  padding-left: 10%;
  width: 40px;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

#nameInputSignUp {
  background-image: url(../assets/img/icons/person.png);
  background-repeat: no-repeat;
  background-position: center right 21px;
}

#emailInputSignUp {
  background-image: url(../assets/img/icons/mail.png);
  background-repeat: no-repeat;
  background-position: center right 21px;
}

#passwordInputSignUp {
  background-repeat: no-repeat;
  background-position: center right 21px;
  width: calc(100% - 42px);
}

#confirmPasswordInputSignUp {
  background-repeat: no-repeat;
  background-position: center right 21px;
  width: calc(100% - 42px);
}

.input-signup-password-and-eye-icon {
  position: relative;
  max-width: 466px;
  width: 90%;
}

.input-signup-confirm-password-and-eye-icon {
  position: relative;
  max-width: 466px;
  width: 90%;
}

#iconVisibilityPasswordSignUp {
  position: absolute;
  top: calc(50% - 10px);
  right: 21px;
}

#iconVisibilityPasswordSignUp:hover {
  cursor: pointer;
}

#iconVisibilityPasswordConfirmSignUp {
  position: absolute;
  top: calc(50% - 10px);
  right: 21px;
}

#iconVisibilityPasswordConfirmSignUp:hover {
  cursor: pointer;
}

.sign-up-body {
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 32px 0;
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);
  position: relative;
  max-width: 598px;
  width: calc(100% - 32px);
}

.backArrow {
  position: absolute;
  top: 45px;
  left: 16px;
}

.inputs-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.inputs-signup input {
  max-width: 422px;
  width: calc(90% - 42px);
  height: 24px;
  padding: 12px 21px;
  font-size: 20px;
  color: black;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
}

.inputs-signup input:focus {
  outline: 2px solid #29abe2;
  border: 1px solid transparent;
}

.input-and-tooltip {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#tooltipPasswordNotMatching {
  position: absolute;
  top: 42px;
  left: calc(50% - 150px);
  color: red;
  font-size: 12px;
}

.checkbox-privacy-policy {
  display: flex;
  gap: 8px;
}

.checkbox-privacy-policy a {
  color: #29abe2;
}

.legal-footer {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding-bottom: 12px;
}

.legal-footer a {
  color: #a8a8a8;
}

.legal-footer a:hover {
  color: #29abe2;
}

.border-red {
  border: 1px solid red !important;
  outline: none;
}

.border-red:focus {
  border: 2px solid red !important;
  outline: none !important;
}

@media (min-width: 992px) {
  .header img {
    width: 64px;
  }

  #tooltipPasswordNotMatching {
    left: calc(50% - 230px);
  }
}

@media (max-height: 700px) {
  .sign-up-body {
    padding: 8px 0 16px 0;
  }
}
