body {
    background-color: #F6F7F8;
}

span{
    font-size: 16px;
    font-weight: 400;
}

.headline-section{
    width: 100%;
    height: 112px;
    display: flex;
    align-items: end;
    padding-left: 16px;
}

.add-task{
    width: 100%;
    display: flex;
}

.add-task-section{
    width: -webkit-fill-available;
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.line{
    height: 424px;
    width: 1px;
    background-color: #000000;
    margin-left: 48px;
    margin-right: 48px;
}

.add-task-card{
    padding: 16px;
}

.prio-button-container{
    display: flex;
    gap: 8px;
}

.prio-button-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 8px;
    padding-top: 8px;
    padding-bottom: 18px;
}

.prio-container {
    width: 100%;
}

#contactInitals {
    max-height: 160px;
    overflow-y: auto;
    display: flex;
    margin-top: 8px;
    gap: 8px;
    flex-wrap: wrap;
}

#contact-select {
    padding-left: 16px;
    background: url(../assets/img/icons/arrow_drop_down.png);
    background-size: 7px;
    background-repeat: no-repeat;
    background-position: 95%;
    cursor: pointer;
    appearance: none;
    background-color: white;
    color: #000000;
    z-index: 201;
}

#category {
    padding-left: 16px;
    background: url(../assets/img/icons/arrow_drop_down.png);
    background-size: 7px;
    background-repeat: no-repeat;
    background-position: 95%;
    cursor: pointer;
    appearance: none;
    background-color: white;
}

.prio-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 41px;
    gap: 8px;
    background-color: white;
    width: -webkit-fill-available;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #DDDDDD; 
    box-shadow: 0 8px 16px 0 rgba(0,0,4,0), 0 6px 20px 0 rgba(0,0,0,0.05);
}

.highlighted-button-medium {
    background-color: #ffa800;
    color: white !important;
    img {
        filter: brightness(0) invert(1) !important;    
    }
}

.highlighted-button-low {
    background-color: #7ae229;
    color: white !important;
    img {
        filter: brightness(0) invert(1) !important;    
    }
}

.highlighted-button-urgent {
    background-color: #ff3d00;
    color: white !important;
    img {
        filter: brightness(0) invert(1) !important;    
    }
}

.arrow{
    display: flex;
    flex-direction: column;
}

.arrow img{
    width: 20px;
}

.arrow-up img{
    width: 20px;
    height: 8.76px;
}

.create-task{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.red{
    color: #FF8190;
}

.create-task img{
    height: 24px;
}

.flex{
    display: flex;
}

select{
    width: -webkit-fill-available;
    height: 48px;
    border-radius: 10px;
    border-color: #000000;
    border: 1px solid #DDDDDD; 
    margin-top: 8px;
    margin-bottom: 8px;
}

textarea{
    width: -webkit-fill-available;
    resize: none;
    border-radius: 10px;
    border: 1px solid #DDDDDD;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 88px;
}

textarea::placeholder {
    padding-top: 16px;
    padding-left: 16px;
    color: #D1D1D1;
}

::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #A8A8A8;
    border-radius: 10px;
}

.initials{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 42px;
    background-color: black;
    color: white;
    font-size: 12px;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 42px;
}

.double-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -45px;
    cursor: pointer;
    gap: 8px;
}


#subTaskContainer {
    width: 440px;
    max-height: 160px;
    /* overflow-y: auto;
    position: fixed; */

    .singleSubTasks {
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
    }
    .edit-trash {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
    }
    
}

.singleSubTasks:hover {
    background-color: #EEEEEE;
        cursor: pointer;

}

.seperator{
    height: 20px;
    width: 1px;
    background-color: #c5c1c1;
}

.edit img {
    height: 30px;
    width: 30px;
}

.focus-blue:focus {
    outline: none;
    border: 1px solid #5dbee7 !important;
}

.styled-input {
    width: -webkit-fill-available;
    height: 48px;
    padding: 1px 20px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    font-size: 20px;
    z-index: 201;
    background-color: white;
}

.contact-list {
    position: absolute;
    background-color: white;
    margin-top: -10px;
    padding-top: 16px;
    max-height: 288px;
    width: 440px;
    overflow-y: auto;
    border-radius: 0px 0px 10px 10px;
    z-index: 100;
}

.contact-list-entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    height: 24px;
    padding: 16px;
    margin-bottom: 2px;
    border-radius: 10px;
    .initials {
        display: flex;
        align-items: center;
        margin-right: 16px;
        .profile-fullname {
            margin-left: 16px;
            display: flex;
            align-items: center;
        }
    }
}

.contact-list-entry:hover {
    background-color: #EEEEEE;
}



input{
    width: -webkit-fill-available;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #DDDDDD;
    margin-top: 8px;
    margin-bottom: 8px;
}

input[type="date"] {
    padding-left: 16px;
    content: attr(placeholder) !important;
    color: #aaa;
    background: url(../assets/img/icons/calendar.png);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 96%;
    background-color: white;
}

/* Hier auf das Kalender Icon zugreifen */
input[type="date"]::-webkit-calendar-picker-indicator {
    padding-right: 56px;
    opacity: 0;
    cursor: pointer;
}

input::placeholder {
    padding-left: 8px;
    color: #D1D1D1;
}

button{
    gap: 8px;
    color: rgb(0, 0, 0);
    background-color: #FFFFFF;
    border: none;
}

.btn-dark{
    color: white;
    background-color: #2A3647;
    border-radius: 8px;
    border: none;
    width: 183px;
    height: 56px;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    margin-left: 16px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-white {
    color: #2A3647;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #2A3647;
    width: 110px;
    height: 56px;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 225ms;
}

.btn-white img{
    height: 11px;
    width: 11px;
}


.size-100{
    width: 100%;
}

.padding-top-big{
    padding-top: 16px;
}

.padding-top-small{
    padding-top: 8px;
}

.padding-all{
    padding-top: 8px;
    padding-bottom: 8px;
}

.subtask{
    align-items: center;

}

.subtask{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -30px;
    cursor: pointer;
}

#navDesktop {
    display: none;
  }
  
  #headerDesktop {
    display: none;
  }
  
  /* ///////////////////////////////////////// RESPONSIVE ////////////////////////////////////////////////// */
  
@media(min-width: 992px) {
    #navMobile {
        display: none;
    }
  
    #headerMobile {
        display: none;
    }
  
    #navDesktop {
        display: flex;
    }
  
    #headerDesktop {
        display: flex;
    }

    input[type="text"] {
        font-size:20px;
        font-weight: 400 !important;
    }

    #contact-select {
        font-size: 20px;
        font-weight: 400 !important;
        width: 402px !important;
    }

    #category{
        width: 440px;
    }

    select{
        font-size: 20px;
    }

    textarea {
        font-size: 20px;
        font-weight: 400 !important;
        width: 434px;
    }

    input[type="date"]{
        width: 422px !important;
    }
  
    .margin-body-mobile {
      margin: 96px 16px 16px 232px !important;
      padding: 32px 0 32px 64px !important;
    }

    .create-task {
      margin: 96px 16px 16px 232px !important;
      padding: 32px 0 32px 64px !important;
    }

    .button-container{
        padding-top: 160px !important;
    }

    .add-task-card{
        padding-right: 60px !important;
        max-width: 1090px;
    }

    .prio-button-section{
        width: 440px;
    }

    input{
        width: 434px;
    }
    .size-100 {
        width: auto;
    }
    
    .add-task-section {
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 992px) {
    .margin-body-mobile {
        padding: 0 !important;
    }
    .headline-section{
        margin-left: -85px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .add-task{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 124px;
    }

    .subTaskContainer{
        margin-bottom: 50px;
    }

    .line{
        display: none;
    }
    .button-container{
        display: flex;
        justify-content: space-between;
        position: fixed;
        background-color: #F5F5F5;
        width: 100%;
        height: 88px;
        bottom: 80px;
    }
    .btn-dark{
        margin-right: 32px !important;
    }
    .btn-white{
        display: none;
    }
    
  }

  @media(max-width: 1350px) {
    input[type="date"] {
        width: 322px !important;
    }
    .styled-input{
        font-size: 12px;
    }
    .prio-button-section {
        width: 340px;
    }
    #category {
        width: 340px;
    }
    input {
        width: 334px;
    }
    textarea {
        width: 334px;
    }
    #contact-select {
        width: 302px !important;
    }
    .size-100 {
        width: fit-content;
    }
    .prio-container {
        width: fit-content;
    }
    .line {
        margin-left: 0;
    }
    .add-task-section {
        display: block;
        width: 400px;
    }
    .contact-list {
        width: 340px;
    }
    .singleSubTasks {
        width: 330px;
    }
}

@media(max-width: 1160px) {
    input[type="date"] {
        width: 272px !important;
    }
    .prio-button-section {
        width: 290px;
    }
    .prio-button {
        min-width: 40px;
    }
    span {
        font-size: 14px !important;
    }
    #category {
        width: 290px;
    }
    input {
        width: 284px;
    }
    textarea {
        width: 284px;
    }
    #contact-select {
        width: 252px !important;
    }
    .size-100 {
        width: fit-content;
    }
    .prio-container {
        width: fit-content;
    }
    .line {
        margin-left: 0;
    }
    .add-task-section {
        display: block;
        width: 350px;
    }
    .contact-list {
        width: 290px;
    }
    .singleSubTasks {
        width: 280px;
    }
}

@media(max-width: 992px) {
    input[type="date"] {
        width: 472px !important;
    }
    .prio-button-section {
        width: 490px;
    }
    .prio-button {
        min-width: 60px;
    }
    span {
        font-size: 14px !important;
    }
    #category {
        width: 490px;
    }
    input {
        width: 484px;
    }
    textarea {
        width: 484px;
    }
    #contact-select {
        width: 452px !important;
    }
    .size-100 {
        width: fit-content;
    }
    .prio-container {
        width: fit-content;
    }
    .line {
        margin-left: 0;
    }
    .add-task-section {
        display: block;
        width: 450px;
    }
    .contact-list {
        width: 490px;
    }
    .singleSubTasks {
        width: 480px;
    }
}

@media(max-width: 652px) {
    .headline-section{
        margin-left: -30px;
    }
    input[type="date"] {
        width: 372px !important;
    }
    .prio-button-section {
        width: 390px;
    }
    .prio-button {
        min-width: 60px;
    }
    span {
        font-size: 14px !important;
    }
    #category {
        width: 390px;
    }
    input {
        width: 384px;
    }
    textarea {
        width: 384px;
    }
    #contact-select {
        width: 352px !important;
    }
    .size-100 {
        width: fit-content;
    }
    .prio-container {
        width: fit-content;
    }
    .line {
        margin-left: 0;
    }
    .add-task-section {
        display: block;
        width: 350px;
    }
    .contact-list {
        width: 390px;
    }
    .singleSubTasks {
        width: 380px;
    }
}

@media(max-width: 552px) {
    .headline-section{
        margin-left: -30px;
    }
    input[type="date"] {
        width: 272px !important;
    }
    .prio-button-section {
        width: 290px;
    }
    .prio-button {
        min-width: 60px;
    }
    span {
        font-size: 14px !important;
    }
    #category {
        width: 290px;
    }
    input {
        width: 284px;
    }
    textarea {
        width: 284px;
    }
    #contact-select {
        width: 252px !important;
    }
    .size-100 {
        width: fit-content;
    }
    .prio-container {
        width: fit-content;
    }
    .line {
        margin-left: 0;
    }
    .add-task-section {
        display: block;
        width: 250px;
    }
    .contact-list {
        width: 290px;
    }
    .singleSubTasks {
        width: 280px;
    }
}