body {
    background-color: #F6F7F8;
}

span{
    font-size: 16px;
    font-weight: 400;
}

.headline-section{
    width: 100%;
    height: 112px;
    display: flex;
    align-items: end;
    padding-left: 16px;
}

.add-task{
    width: 100%;
    display: flex;
}

.add-task-section{
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.line{
    height: 424px;
    width: 1px;
    background-color: #000000;
    margin-left: 48px;
    margin-right: 48px;
}

.add-task-card{
    padding: 16px;
}

.prio-button-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
    padding-top: 8px;
    padding-bottom: 18px;
}

.prio-container {
    width: 100%;
}

#contact-select {
    padding-left: 16px;
    background: url(/join139/assets/img/icons/arrow_drop_down.png);
    background-size: 7px;
    background-repeat: no-repeat;
    background-position: 95%;
    cursor: pointer;
    appearance: none;
}

.prio-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 41px;
    width: -webkit-fill-available;
    padding-right: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #DDDDDD; 
    box-shadow: 0 8px 16px 0 rgba(0,0,4,0), 0 6px 20px 0 rgba(0,0,0,0.05);
}
.prio-button-red{
    background-color: #FF3D00 !important;
    color: white !important;
}
.prio-button-orange{
    background-color: #FFA800 !important;
    color: white !important;
}
.prio-button-green{
    background-color: #7AE229 !important;
    color: white !important;
}


.arrow{
    display: flex;
    flex-direction: column;
}

.arrow img{
    width: 20px;
}

.arrow-up img{
    width: 20px;
    height: 8.76px;
}

.create-task{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.red{
    color: #FF8190;
}

.create-task img{
    height: 24px;
}

.flex{
    display: flex;
}

select{
    width: -webkit-fill-available;
    height: 48px;
    border-radius: 10px;
    border-color: #000000;
    border: 1px solid #DDDDDD; 
    margin-top: 8px;
    margin-bottom: 8px;
}

textarea{
    width: -webkit-fill-available;
    resize: none;
    border-radius: 10px;
    border: 1px solid #DDDDDD;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 88px;
}

textarea::placeholder {
    padding-top: 16px;
    padding-left: 16px;
    color: #D1D1D1;
}

input{
    width: -webkit-fill-available;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #DDDDDD;
    margin-top: 8px;
    margin-bottom: 8px;
}

input[type="date"] {
    padding-left: 16px;
    content: attr(placeholder) !important;
    color: #aaa;
    background: url(/join139/assets/img/icons/calendar.png);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 96%;
}

/* Hier auf das Kalender Icon zugreifen */
input[type="date"]::-webkit-calendar-picker-indicator {
    padding-right: 56px;
    opacity: 0;
    cursor: pointer;
}

input::placeholder {
    padding-left: 8px;
    color: #D1D1D1;
}

button{
    gap: 8px;
    color: rgb(0, 0, 0);
    background-color: #FFFFFF;
    border: none;
}

.btn-dark{
    color: white;
    background-color: #2A3647;
    border-radius: 8px;
    border: none;
    width: 183px;
    height: 56px;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    margin-left: 16px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-white {
    color: #2A3647;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #2A3647;
    width: 110px;
    height: 56px;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 225ms;
}

.btn-white img{
    height: 11px;
    width: 11px;
}


.size-100{
    width: 100%;
}

.padding-top-big{
    padding-top: 16px;
}

.padding-top-small{
    padding-top: 8px;
}

.padding-all{
    padding-top: 8px;
    padding-bottom: 8px;
}

.subtask{
    align-items: center;

}

.subtask img{
    height: 14px;
    margin-left: -30px;
    cursor: pointer;
}

#navDesktop {
    display: none;
  }
  
  #headerDesktop {
    display: none;
  }
  
  /* ///////////////////////////////////////// RESPONSIVE ////////////////////////////////////////////////// */
  
  @media(min-width: 992px) {
    #navMobile {
        display: none;
    }
  
    #headerMobile {
        display: none;
    }
  
    #navDesktop {
        display: flex;
    }
  
    #headerDesktop {
        display: flex;
    }

    input[type="text"] {
        font-size:20px;
        font-weight: 400 !important;
    }

    select{
        font-size: 20px;
    }

    textarea {
        font-size: 20px;
        font-weight: 400 !important;
    }
  
    .margin-body-mobile {
      margin: 96px 16px 16px 232px !important;
      padding: 32px 0 32px 64px !important;
    }

    .create-task {
      margin: 96px 16px 16px 232px !important;
      padding: 32px 0 32px 64px !important;
    }

    .button-container{
        padding-top: 160px !important;
    }

    .add-task-card{
        padding-right: 60px !important;
    }
  }

  @media(max-width: 992px) {
    .add-task{
        display: flow;
        margin-bottom: 124px;
    }
    .line{
        display: none;
    }
    .button-container{
        display: flex;
        justify-content: space-between;
        position: fixed;
        background-color: #F5F5F5;
        width: 100%;
        height: 88px;
        bottom: 80px;
    }
    .btn-dark{
        margin-right: 32px !important;
    }
    .btn-white{
        display: none;
    }
  }