.popup{
    width: 326px;
    height: 74px;
    padding: 5px;
    background-color: #2a3647;
    border-radius:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    position: fixed;
}


