body{
    margin: 0;
    background-color: white;
}

.container{
    border-radius: 30px;
    border: solid 1px;
    height: 100vh;
    /* height: calc(100vh - 160px); */
}

.top-bg-contact{
    background-color: #2a3647 ;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 50vh;
}

.bottom-bg-contact{
    /* padding: 70px 20px 70px 20px; */
    height: 50vh;
}

.p-relative{
    position: relative;
}

.contact-header{
    padding: 100px 24px 66px 24px
}

.d-flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.column{
    flex-direction: column;
}

.w100{
    width: 100%;
}

.pointer{
    cursor: pointer;
}


.head-title-contact{
    font-weight: 700;
    font-size: 37px;
    color: white;
}

.sub-title-contact{
    font-size: 16px;
    color: white;
    margin-bottom: 10px;

}

.underline{
    background-color: #29abe2;
    width: 60px;
    height: 2px;
}

.person-circle{
    border: solid 2px white;
    background-color: #d1d1d1;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    /* transform: translate(0%, -50%); */
    margin-top: -50px;
    z-index: 2;
}

.person-img{
    width: 40%;
    height: 40%;
}

.close{
    width: 13.5px;
    position: absolute;
    top: 24px;
    right: 24px;
}

.input-container{
    margin-top: 25px;
}

.input{
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    background-size: 16px;
    margin: 0 10px 12px 10px;
    padding: 5px 15px 5px 15px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
}

input[type=text]{
    font-size: 20px;
}

input[type]:focus{
    outline-color: #29abe2;
    outline-width: thin;
}

::placeholder{
    font-size: 16px;
    color: #d1d1d1;
    font-family: Inter, sans-serif;
}

#input-person {
    background-image: url('../../assets/img/icons/person.png');
}

#input-mail {
    background-image: url('../../assets/img/icons/mail.png');
}

#input-phone {
    background-image: url('../../assets/img/contacts/call.png');
}

.btn-create{
    margin-top: 15px;
    width: 170px;
    height: 40px;
}

.btn-txt{
    margin-right: 10px;
}