#greetingText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* calc 100vh - header - navbar */
    font-size: 36px;
    color: #2A3647;
}

.greetingUserName {
    color: #29ABE2;
    font-size: 47px;
    font-weight: 700;
}