.board{
    margin-bottom: 24px;
}

.space-between{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.width-100{
    width: 100%;
}

.abstand-24{
    margin-top: 24px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 24px;
}

.user-circle{
    height: 24px;
    width: 24px;
    font-size: 12px;
    color: #DDDDDD;
    background-color: #d15b5b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #DDDDDD;
}

.priority{
    width: 17px;
}

.margin-left{
    margin-left: -6px;
}

.find-task{
    height: 48px;
    border-radius: 10px;
    border: 1px solid #DDDDDD;
    size: 20px;
    background-image: url(../assets/img/icons/search.png);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 95%;
}


.search-bar-seperator{
    width: 1px;
    height: 24px;
    background-color: #E8E8E8;
    margin-left: -46px;
    margin-right: 46px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.no-taskts-to-do{
    background-color: #E7E7E7E7;
    color: #A8A8A8;
    width: 100%;
    height: 48px;
    border-radius: 10px;
    border-style: dotted;
    margin-top: 16px;
}

.plus-img{
    height: 30px;
    cursor: pointer;
}

.plus-img-dark{
    height: 40px;
    cursor: pointer;
}

.task-padding{
    padding: 16px;
    cursor: pointer;
}

.task-title{
    height: 27px;
    width: 113px;
    background-color: #0038FF;
    color: #DDDDDD;
    border-radius: 8px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtasks{
    font-size: 12px;
    color: #000000;
    margin-top: 28px;
}

.task-description{
    font-weight: 700;
    margin-bottom: 4px;
}

.tasks{
    width: 252px;
    background-color: #FFFFFF;
    border-radius: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.add-task-button {
    color: white;
    background-color: #2A3647;
    border-radius: 8px;
    border: none;
    width: 245px;
    height: 48px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 225ms;
    margin-left: 24px;
  }

.add-task-button img{
    margin-left: 8px;
}

.progress-section{
    display: block;
    align-items: baseline;
    gap: 26px;
}

.user-flex{
    display: flex;
}

.user-prio{
    margin-left: 42px;
    gap: 4px;
}

.user-prio img{
    margin-left: 8px;
}

.user-assigned{
    margin-left: 16px;
    gap: 16px;
}

.pop-up-section{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1200;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
}

.pop-up{
    position: fixed;
    top: 18%;
    left: calc(50% - 198px);
    width: 396px;
    background-color: #FFFFFF;
    border-radius: 24px;
    transform:translateX(275%);
    transition: transform 400ms ease-in-out;
    display: none;
}

.pop-up-user-circle{
    height: 42px;
    width: 42px;
    font-size: 12px;
    color: #DDDDDD;
    background-color: #d15b5b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up-headline{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 16px;
}

.margin-top-16{
    margin-top: 16px;
}

.subtasks-checkbox{
    display: flex;
    align-items: center;
    gap: 16px;
}

.subtasks-seperator{
    width: 1px;
    height: 24px;
    background-color: #E8E8E8;
    margin-left: 6px;
    margin-right: 6px;
}

.subtask-edit-delete{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
}

#navDesktop {
    display: none;
}
  
#headerDesktop {
    display: none;
}

  /* ///////////////////////////////////////// ADD TASK ////////////////////////////////////////////////// */

body {
    background-color: #F6F7F8;
}

span{
    font-size: 16px;
    font-weight: 400;
}

.headline-section{
    width: 100%;
    height: 112px;
    display: flex;
    align-items: end;
    padding-left: 16px;
}

#addTaskSection{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 101;
    display: none;
}

.add-task{
    width: 100%;
    display: flex;
}

.add-task-section{
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.line{
    height: 424px;
    width: 1px;
    background-color: #000000;
    margin-left: 48px;
    margin-right: 48px;
}

.add-task-card{
    width: -webkit-fill-available;
    padding: 16px;
    background-color: #FFFFFF;
    border-radius: 30px;
    transform:translateX(275%);
    transition: transform 400ms ease-in-out;
    display: none;
    flex-direction: column;
}

.prio-button-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
    padding-top: 8px;
    padding-bottom: 18px;
}

.prio-container {
    width: 100%;
}

#contact-select {
    padding-left: 16px;
    background: url(/join139/assets/img/icons/arrow_drop_down.png);
    background-size: 7px;
    background-repeat: no-repeat;
    background-position: 95%;
    cursor: pointer;
    appearance: none;
}

.prio-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 41px;
    width: -webkit-fill-available;
    padding-right: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #DDDDDD; 
    box-shadow: 0 8px 16px 0 rgba(0,0,4,0), 0 6px 20px 0 rgba(0,0,0,0.05);
}

.arrow{
    display: flex;
    flex-direction: column;
}

.arrow img{
    width: 20px;
}

.arrow-up img{
    width: 20px;
    height: 8.76px;
}

.create-task{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.red{
    color: #FF8190;
}

.create-task img{
    height: 24px;
}

.flex{
    display: flex;
}

select{
    width: -webkit-fill-available;
    height: 48px;
    border-radius: 10px;
    border-color: #000000;
    border: 1px solid #DDDDDD; 
    margin-top: 8px;
    margin-bottom: 8px;
}

textarea{
    width: -webkit-fill-available;
    resize: none;
    border-radius: 10px;
    border: 1px solid #DDDDDD;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 88px;
}

textarea::placeholder {
    padding-top: 16px;
    padding-left: 16px;
    color: #D1D1D1;
}

input{
    width: -webkit-fill-available;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #DDDDDD;
    margin-top: 8px;
    margin-bottom: 8px;
}

input[type="date"] {
    padding-left: 16px;
    content: attr(placeholder) !important;
    color: #aaa;
    background: url(/join139/assets/img/icons/calendar.png);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 96%;
}

/* Hier auf das Kalender Icon zugreifen */
input[type="date"]::-webkit-calendar-picker-indicator {
    padding-right: 56px;
    opacity: 0;
    cursor: pointer;
}

input::placeholder {
    padding-left: 8px;
    color: #D1D1D1;
}

button{
    gap: 8px;
    color: rgb(0, 0, 0);
    background-color: #FFFFFF;
    border: none;
}

.btn-dark{
    color: white;
    background-color: #2A3647;
    border-radius: 8px;
    border: none;
    width: 183px;
    height: 56px;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    margin-left: 16px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-white {
    color: #2A3647;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #2A3647;
    width: 110px;
    height: 56px;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 225ms;
}

.btn-white img{
    height: 11px;
    width: 11px;
}


.size-100{
    width: 100%;
}

.padding-top-big{
    padding-top: 16px;
}

.padding-top-small{
    padding-top: 8px;
}

.padding-all{
    padding-top: 8px;
    padding-bottom: 8px;
}

.subtask{
    align-items: center;

}

.subtask img{
    height: 14px;
    margin-left: -30px;
    cursor: pointer;
}
  
  /* ///////////////////////////////////////// RESPONSIVE ////////////////////////////////////////////////// */
  
  @media(min-width: 992px) {
    #navMobile {
        display: none;
    }
  
    #headerMobile {
        display: none;
    }
  
    #navDesktop {
        display: flex;
    }
  
    #headerDesktop {
        display: flex;
    }
  
    .margin-body-mobile {
      margin: 96px 16px 16px 232px;
      padding: 32px 0 32px 64px;
    }

    .margin-body-mobile-pop-up {
      margin: 120px 42px 32px 280px;
    }

    .board img{
        display: none;
    }

    body{
        justify-content: flex-start;
        display: block;
    }

    .progress-section{
        display: flex;
    }

    .plus-img {
        height: 24px;
    }

    .add-task-button {
        margin-right: 88px;
    }

    .tasks{
        width: -webkit-fill-available;
    }
  }

  @media(max-width: 992px){
    .add-task-button{
        display: none;
    }

    
    .board-container{
        display: block;
    }
  }