
    <nav class="nav-bar-desktop">
        <img class="logo-weiß" src="../assets/img/header/header_logo_weiß.png" alt="">
        <div class="menu-button-container">
            <a href="../summary/summary.html" class="menu-button-desktop">
                <img src="../assets/img/navIcons/Summary.png">
                <span class="letter-desktop">Summary</span>
            </a>
            <a href="../board/boardMobile.html" class="menu-button-desktop">
                <img src="../assets/img/navIcons/Board.png">
                <span class="letter-desktop">Board</span>
            </a>
            <div class="menu-aktiv-button-desktop">
                <img src="../assets/img/navIcons/addTask-aktiv.png">
                <span class="letter-desktop-aktiv">Add Task</span>
            </div>
            <a href="../../../contact/view_desktop_contact.html" class="menu-button-desktop">
                <img src="../assets/img/navIcons/contacts.png">
                <span class="letter-desktop">Contacts</span>
            </a>   
        </div>
        <div class="link">
            <a class="privacy-policy" href="../privacy_policy/privacy_policy.html">Privacy Policy</a>
            <a class="legal-notice" href="../legal_notice/legal_notice.html">Legal notice</a>
        </div>
    </nav>
