
    <nav class="nav-bar-desktop">
        <img class="logo-weiß" src="../../img/header/header_logo_weiß.png" alt="">
        <div class="menu-button-container">
            <div class="menu-button-desktop">
                <img src="../../img/navIcons/Summary.png">
                <span class="letter layout">Summary</span>
            </div>
            <div class="menu-aktiv-button-desktop">
                <img src="../../img/navIcons/board-aktiv.png">
                <span class="letter layout">Board</span>
            </div>
            <div class="menu-button-desktop">
                <img src="../../img/navIcons/addTask.png">
                <span class="letter layout">AddTask</span>
            </div>
            <div class="menu-button-desktop">
                <img src="../../img/navIcons/contacts.png">
                <span class="letter layout">Contacts</span>
            </div>   
        </div>
        <div class="link">
            <a class="privacy-policy" href="#">Privacy Policy</a>
            <a class="legal-notice" href="#">Legal notice</a>
        </div>
    </nav>
