<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../navDesktop.css">
    <link rel="stylesheet" href="../../../style.css">
    <title>Document</title>
</head>
<body>
    <nav class="nav-bar">
        <img class="logo-weiß" src="../../img/header/header_logo_weiß.png" alt="">
        <div class="menu-button-container">
            <div class="menu-button">
                <img src="../../img/navIcons/Summary.png">
                <span class="letter layout">Summary</span>
            </div>
            <div class="menu-button">
                <img src="../../img/navIcons/Board.png">
                <span class="letter layout">Board</span>
            </div>
            <div class="menu-button">
                <img src="../../img/navIcons/addTask.png">
                <span class="letter layout">AddTask</span>
            </div>
            <div class="menu-aktiv-button">
                <img src="../../img/navIcons/contacts.png">
                <span class="letter layout">Contacts</span>
            </div>   
        </div>
        <div class="link">
            <a href="#">Privacy Policy</a>
            <a href="#">Legal notice</a>
        </div>
    </nav>
</body>
</html>