
    <nav class="nav-bar-desktop">
        <img class="logo-weiß" src="../assets/img/header/header_logo_weiß.png" alt="">
        <div class="menu-button-container">
            <div class="menu-button-desktop">
                <img src="../assets/img/navIcons/Summary.png">
                <span class="letter-desktop">Summary</span>
            </div>
            <div class="menu-button-desktop">
                <img src="../assets/img/navIcons/Board.png">
                <span class="letter-desktop">Board</span>
            </div>
            <div class="menu-button-desktop">
                <img src="../assets/img/navIcons/addTask.png">
                <span class="letter-desktop">Add Task</span>
            </div>
            <div class="menu-aktiv-button-desktop">
                <img src="../assets/img/navIcons/contacts-aktiv.png">
                <span class="letter-desktop-aktiv">Contacts</span>
            </div>   
        </div>
        <div class="link">
            <a class="privacy-policy" href="#">Privacy Policy</a>
            <a class="legal-notice" href="#">Legal notice</a>
        </div>
    </nav>
