
<nav class="nav-bar-desktop">
    <img class="logo-weiß" src="../assets/img/header/header_logo_weiß.png" alt="">
    <div class="menu-button-container">
        <a href="../summary/summary.html" class="menu-button-desktop">
            <img src="../assets/img/navIcons/Summary.png">
            <span class="letter-desktop">Summary</span>
        </a>
        <a href="../board/boardMobile.html" class="menu-button-desktop">
            <img src="../assets/img/navIcons/Board.png">
            <span class="letter-desktop">Board</span>
        </a>
        <a href="../add_task/add_task.html" class="menu-button-desktop">
            <img src="../assets/img/navIcons/addTask.png">
            <span class="letter-desktop">Add Task</span>
        </a>
        <a href="../contact/view_desktop_contact.html" class="menu-button-desktop">
            <img src="../assets/img/navIcons/contacts.png">
            <span class="letter-desktop">Contacts</span>
        </a>   
    </div>
    <div class="link">
        <a class="menu-button-legal-privacy" href="../privacy_policy/privacy_policy.html">
        <span class="privacy-policy">Privacy Policy</span>
        </a>
        <a class="menu-button-legal-privacy legal-privacy-active" href="../legal_notice/legal_notice.html">
        <span class="legal-notice">Legal Notice</span>
        </a>
    </div>
</nav>