
    <header class="header-desktop">
        <span class="kanban-letter">Kanban Project Management Tool</span>
        <div  class="header-circle-desktop">
            <a id="helpBtnDesktop" class="help-btn" href="../help_area/help.html"><img src="../assets/img/icons/help.png" alt="Help"></a>
            <div onclick="openPopUpMenuHeader()" id="userIconDesktop" class="user-icon">
                <img src="../assets/img/header/circle_gray.png" alt="Circle">
                <div class="user-initials-div-desktop"><span id="userInitialsDesktop"></span></div>
            </div>
        </div>
    </header>
