.header {
    padding: 20px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.user-icon {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 32px;
}

.header-circle {
    width: 40px;
}