<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="headerDesktop.css">
    <link rel="stylesheet" href="../../style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <span class="kanban-letter">Kanban Project Managment Tool</span>
        <div  class="header-circle">
            <img src="../img/icons/help.png" alt="">
            <img src="../img/header/circle_gray.png" alt="">
            <span id="userInitials">G</span>
        </div>
    </header>
    
</body>
</html>