.header {
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    width: calc(100vw - 32px);
    height: 80px;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
}

.user-icon {
    display: flex;
    align-items: center;
    position: relative;
}

.header-logo {
    width: 32px;
}

.header-circle {
    width: 40px;
}

#userInitials {
    position: absolute;
    left: calc(50% - 15px);
    width: 30px;
    text-align: center;
    color: #29ABE2;
    font-weight: 600;
}