.header-desktop {
    height: 96px;
    width: calc(100% - 348px);
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;  
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    padding-left: 348px;
}

.kanban-letter{
    font-size: 20px;
}

.header-circle-desktop {
    display: flex;
    align-items: center;
    position: relative;
    gap: 20px;
    height: 40px;
    padding-right: 16px;
}

.help-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.user-icon {
    position: relative;
    height: 41px;
}

.user-initials-div-desktop {
    height: 34px;
    width: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
}

.user-initials-div-desktop:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

#userInitialsDesktop{
    color: #29ABE2;
    font-weight: 600;
}