#popUpMenu {
    height: 160px;
    width: 106px;
    background-color: #2A3647;
    border-radius: 20px 0 20px 20px;
    position: absolute;
    z-index: 999;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 26px;
    position: absolute;
    right: 51px;
    top: 55px;
}

#popUpMenu a {
    color: white;
}

#LogOutBtnspanospanUpMenu {
    cursor: pointer;
}



@media(min-width: 992px) {
    #legalNoticeBtnPopUpMenu {
        display: none;
    }

    #privacyPolicyBtnPopUpMenu {
        display: none;
    }

    #popUpMenu {
        height: 64px;
        right: 55px;
        top: 63px;
    }
}