<nav id="menuButtonContainer" class="nav-bar">
  <a href="../summary/summary.html" class="menu-button">
    <img src="../assets/img/navIcons/Summary.png" />
    <span class="letter layout">Summary</span>
  </a>
  <a href="../board/boardMobile.html" class="menu-button">
    <img src="../assets/img/navIcons/Board.png" />
    <span class="letter layout">Board</span>
  </a>
  <a href="../add_task/add_task.html" class="menu-button">
    <img src="../assets/img/navIcons/addTask.png" />
    <span class="letter layout">Add Task</span>
  </a>
  <a href="../contact/view_desktop_contact.html" class="menu-button">
    <img src="../assets/img/navIcons/contacts.png" />
    <span class="letter layout">Contacts</span>
  </a>
</nav>
