body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    height: 50px;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar{
    height: 80px;
    width: 100%;
    background-color: #2A3647;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 8px;
}

.menu-aktiv{
    border-radius: 16px;
    background-color: #091931;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 76px;
    width: 80px;
    cursor: pointer;
}

.menu-button{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 76px;
    width: 80px;
    cursor: pointer;
}

.menu-aktiv-button{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 76px;
    width: 80px;
    cursor: pointer;
}

.menu-button img {
    width: 24px;
}

.letter{
    
    color: #9A9EA3;
}

.letter-aktiv{
    color: #FFFFFF;
}

.layout{
    width: 76px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}