.nav-bar-desktop {
  height: 100vh;
  width: 232px;
  background-color: #2a3647;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.logo-weiß {
  width: 100px;
  padding-top: 64px;
  padding-bottom: 64px;
}

.letter-desktop {
  color: #9a9ea3;
  width: 80px;
}

.letter-desktop-aktiv {
  color: white;
}

.menu-button-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.menu-aktiv-button-desktop {
  background-color: #091931;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  cursor: pointer;
  gap: 20px;
}

.menu-button-desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  cursor: pointer;
  gap: 20px;
}

.menu-button-desktop img {
  height: 25px;
}

.link {
  height: 45%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 8px;
}

a {
  color: #797d84;
}

/* HOVER SECTION */

.menu-button-desktop:hover {
  background-color: #2A3D59;
}

.menu-button-desktop:hover img,
.menu-button-desktop:hover span {
    transform: scale(1.05);
}

.privacy-policy:hover {
    transform: scale(1.05);
    color: #29ABE2;
}

.legal-notice:hover {
    transform: scale(1.05);
    color: #29ABE2;
}