.nav-bar-desktop {
  height: 100vh;
  width: 232px;
  background-color: #2a3647;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.logo-weiß {
  width: 100px;
  padding-top: 64px;
  padding-bottom: 64px;
}

.letter-desktop {
  color: #9a9ea3;
  width: 80px;
}

<<<<<<< HEAD

.menu-aktiv-button{
    background-color: #091931;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1;
    width: 232px;
    height: 46px;
    color: aliceblue;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
    gap: 20px;
=======
.letter-desktop-aktiv {
  color: white;
>>>>>>> c4af9f14435ffddcc6cea4372ee917d019131d17
}

.menu-button-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.menu-aktiv-button-desktop {
  background-color: #091931;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  cursor: pointer;
  gap: 20px;
}

.menu-button-desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  cursor: pointer;
  gap: 20px;
}

.menu-button-desktop img {
  height: 25px;
}

.link {
  height: 45%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 8px;
}

a {
  color: #797d84;
}
